<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="web/images/icon.png">
    <title>500</title>
    <link rel="stylesheet" href="web/css/style.css">
</head>
<body>
   <div class="container">
        <div class="header">
            <a href="index.html">
                <img class="logo" src="web/images/logo.png" alt="logo">
            </a>
            <ul class="menu">
                <li><a href="index.html">MAIN</a></li>
            </ul>
        </div>

            <div class="content">
                <div class="page_name">
                   <h1>500 error</h1>
                </div>
                <div class="box">
                    <h2>
                        <img class="gears" src="../images/gears.png" alt="gears"><br>
                        Ooops... Server has encountered an internal error. It is definitely not your fault. <br>
                        Please, try to repeat your actions and if you still run into this issue, feel free <br>
                        to make a report.
                    </h2>
                </div>
            </div>   

        <div class="footer">
            <p>All rights reserved &copy; <a href="https://t.me/l_emarkar" target="_blank">E-K</a></p>
        </div>  
    </div>      
</body>
</html>
