<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="web/images/icon.png">
    <title>Generator</title>
    <link rel="stylesheet" href="web/css/style.css">
</head>
<body>
   <div class="container">
        <div class="header">
            <a href="/">
                <img class="logo" src="web/images/logo.png" alt="logo">
            </a>
            <ul class="menu">
                <li><a href="/">MAIN</a></li>
                <li><a href="/generator">GENERATOR</a></li>
                <li><a href="/statistic">STATISTICS</a></li>
            </ul>
        </div>

            <div class="content">
                <div class="page_name">
                   <h1>Generator</h1>
                </div>
                <div class="box">
                    <!-- TODO: add generate here -->
                </div>
            </div>   

        <div class="footer">
            <p>All rights reserved &copy; <a href="https://t.me/l_emarkar" target="_blank">E-K</a></p>
        </div>  
    </div>      
</body>
</html>
