{{ template "header.html" .}}
<div class="content">
    <div class="desc">
        Welcome, to a simple url-shortener.
    </div>
    <div class="link">
        <h2>Your link:</h2> <br>
        <input type="text" name="userLink">
        <h4>Expires on: </h4>
        <input type="date" name="expirationDate">
        <form class="gen" action="/generate" method="post">
            <input type="submit" value="Generate short link">
        </form>
        <form class="det" action="/details" method="get">
            <input type="submit" value="Get details of a short link">
        </form>
    </div>
</div>   
{{ template "footer.html" .}}
