{{ template "header.html" .}}
<div class="content">
    <div class="desc">
        Welcome, to a simple url-shortener.
    </div>
    <div class="option">
        Your link: <br>
        <input type="text" name="userLink"> <br>
        <form action="/link/generate" method="post">
            <input type="submit" value="Generate short link">
        </form>
        <form action="/link/details" method="get">
            <input type="submit" value="Get details on a short link">
        </form>
    </div>
</div>   
{{ template "footer.html" .}}
