<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="web/images/icon.png">
    <title> {{ .title }}</title>
    <link rel="stylesheet" href="web/css/style.css">
    <div class="header">
        <a href="/">
            <img class="logo" src="web/images/logo.png" alt="logo">
        </a>
        <ul class="menu">
            <li><a href="/">MAIN</a></li>
            <!-- <li><a href="/generator">GENERATOR</a></li>
            <li><a href="/statistic">STATISTICS</a></li> -->
        </ul>
    </div>
</head>
<body>
<div class="container">
<div class="page_name">
    <h1> {{ .title }} </h1>
</div>