<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="web/images/icon.png">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="web/css/style.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
    <div class="header">
        <a href="/">
            <img class="logo" src="web/images/logo.png" alt="logo">
        </a>
        <ul class="menu">
            <li><a href="/">MAIN</a></li>
            <li><a href="web/templates/docs.html" target="_blank">DOCS</a></li>
        </ul>
    </div>
</head>
<body>
<div class="container">
<div class="page_name">
    <h1> {{ .title }} </h1>
</div>
